/*---body---*/

body{
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 100%;
  padding:0;
  margin:0;
}


/*---HEADER---*/

.accueil {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
  width: 100%;
  margin:-8px 0 4px -7px;
  padding-right: 14px;
  display: flex;
  justify-content: center;
}
 .accueil img, .cartes img {
  max-width: 50%;
  padding: 20px;
}
 
.formulaire {
  background-color: #ebe9e9;
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.resto {
  background-color: #F5F5F5;
  height: 270px;
  width: 100%;
}

.presentation .btn, .commander{ 
  border-radius: 20px;
  background: linear-gradient(#FF79DA,#9356DC );
  display: flex;
  justify-content: center;
  color: white;
  font-size:16px;
  height: 45px;
  align-items: center;
  align-self: center;
  padding: 0 50px;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-top:20px;
}
.presentation .btn:hover, .commander:hover {
  background:linear-gradient(#f0a8df,#d076db );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.plat:hover .fa-check-circle {
  animation: rotation 1s;
}
.search_data{
  border: none;
  font-weight: bolder;
  background-color: #ebe9e9;
  font-size: 17px;
  text-align: center;
}
.presentation {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.presentation p{
  font-weight: 300;
  font-size: 18px;
  margin-top: -10px;
}

.restau{
  background-color: #F2F2F2;
  padding:20px 0 20px;
}
ul{
  list-style-type:none;
}
 ul .fonctionnement {
  width: 95%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -20px;
}
.container h2{
  padding-left:40px;
  margin-top:10px;
}

/*---container---*/

p.new {
  position: absolute;
  right: 15px;
  color: #008766;
  background-color: #99E2D0;
  font-weight: bold;
  padding: 9px;
  top:10px; 
}
.restaurants figure{
  width: 100%;
  height: 240px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px #d4d0d0;
  animation: transparence 4s;
  position: relative;
}
.restaurants img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants figcaption{
  padding: 0 10px;
  line-height: 5px;
  color:rgb(29, 28, 28);
}

.restaurants a{
  width: 100%;
  display: flex;
  text-decoration: none;
}
figure:hover{
  transform:scale(1.05);
  transition-duration: 1s;
}
strong {
    margin-right: 20px;
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    padding: 5px 8px;
    position: relative;
    right:10px;
  }
  .fa-arrow-left {
    position: absolute;
    top: 45px;
    left: 20px;
    font-size:20px;
    color:#4c4949;
  }
  
  .fa-heart {
    font-size: 25px;
    position: relative;
    color:rgb(68, 67, 67);
    float: right;
    bottom: 50px;
    transition-duration: 0.5s; 
}
   
.fa-heart:hover {
  cursor: pointer;
  font-weight: bolder;
  background: linear-gradient(#FF79DA 10%,#9356DC 95% );
  transform: scale(1.1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }


 button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  width: 95%;
  padding: 20px 0;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
}
 button .fas{
   margin-right: 20px;
   color:gray;
 } 
button:hover{
  background-color:rgb(250, 231, 253);
}

/*---FOOTER---*/
  
footer img {
  max-width: 180px;
  padding-bottom: 15px;
  }
  
  footer {
    background-color: #4b4949;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction:column;
    line-height: 28px;
    max-width: 100%;
    height: 170px;
    padding-left:20px;
}
  footer a {
    color:white;
    text-decoration: none;
  }
  footer a:hover{
    color:rgb(241, 161, 224)
  }

    /*--MENUS--*/
.cartes{
  display: flex;
  justify-content: center;
}
.cartes img {
  max-width: 50%;
  padding: 20px;
  }
  
  .Container{
    border-radius: 40px 40px 0 0;
    background-color: #F2F2F2;
    padding-top: 10px;
    position: relative;
    margin-top:-40px;
    padding-bottom: 40px;
  }
  .Container .fa-heart{
    position: relative;
    right: 40px;
  }
  
  .Container h2{
    font-family: "Shrikhand", cursive;
    font-size: 27px;
    padding-left: 10px;
    font-weight: 900;
  }
  .description{
    line-height: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
.nom{
  font-weight: 500;
}
.commentaire{
  font-weight: 300;
  font-size: 15px;
}
  .plat{
    position: relative;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    animation-delay: 0.5s;
    box-shadow: 5px 5px 10px #807f7f;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}
  
  
  .menusfrancaise, .menusdelice, .menusenchantee, .menuspalette{
    margin-top:-30px;
    margin-left:20px;  
  } 
   .Container h4{
    font-size: 18px;
    font-weight: normal;
    border-bottom: 4px solid #99E2D0;
    width: 40px;
  }
  .bouton .commander{
    border:none;
  }
  .prix{
    position: absolute;
    right: 30px;
    padding-top:40px;
    font-weight: bold;
  }
  
  .francaise img,.delice img,.enchantee img, .palette img{
    width: 100%;
    object-fit: cover;
    
  }
  .titre{
    padding-bottom: 10px;
  }
  a{
    text-decoration: none;
    color:black;
  }
  
  .fa-check-circle {
    color: white;
    font-size: 23px;
    position: relative;
}
  
  .plat:hover .fa-check-circle {
    animation: rotation 1s;
  }
  
.confirmation{
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  position: absolute;
  transition-duration: 0.5s;
  height: 80px;
  max-height: 100%;
  right: -60px;
  background-color: #99e2d0;
  }


.plat:hover .prix{
  right: 80px;
}
.plat:hover .confirmation {
  margin-right: -20px;
  transform:translateX(-80px);
  height: 100%;
  
}

 
.bouton a{
  display: flex;
  justify-content: center;
}
.commander{
  padding:0 90px;
}

.entrées{
  animation:transparence 1s;
}
.plats{
  animation:transparence 3s;
}

.desserts{
  animation:transparence 5s;
} 
.entrées, .plats, .desserts{
  margin-bottom: 10px;
  max-width: 100%;
}
/*ANIMATIONS*/

@keyframes spin{
  0% {transform: translateX(0);
    
}
100% {
    
    transform: translateX(-9999px);
}
}
.spinner {
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: loader-page 3s ease-in normal forwards;
  opacity: 1;
  background: #eeecec;
 }

  .spinner .logo-loader {
    width: auto;
    height: 50px;
    margin-bottom: 20px; }

.loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px; 
}
  
  .loader__circle1 {
    width: 20px;
    height: 20px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 0.5s;
    border-radius: 50%;
    background: #9356DC; }
  
  .loader__circle2 {
    width: 20px;
    height: 20px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1s;
    border-radius: 50%;
    background: #FF79DA; }
  
  .loader__circle3 {
    width: 20px;
    height: 20px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1.5s;
    border-radius: 50%;
    background: #99E2D0; }
    
    @keyframes circle-sparkle {
      from {
        opacity: 0.3; }
      to {
        opacity: 1; } }
    
    @keyframes loader-page {
      0% {
        opacity: 1; }
      75% {
        opacity: 1; }
      99% {
        opacity: 0; }
      100% {
        visibility: hidden;
        opacity: 0; } 
      }
    
    
      @keyframes transparence {
        0% {
          transform:scale(0);
         opacity: 0;
        }
        100% {
          transform:scale(1);
          opacity: 1;
        }
      }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-----MEDIA-----*/
@media screen and (min-width: 500px) {

.fonctionnement ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
button{
  flex-wrap:nowrap;
  width: 100%;
  padding-right: 30px;
}  
}
@media screen and (min-width: 720px) {
footer div{
  padding-right: 20px;
}
.footerdiv{
  display: flex;
  Justify-content: center;
  padding-top: 30px; 
  top:10px;
  }

footer img{
  height: 30px;
  display: flex;
  align-self: center;
}
footer a{
  font-size: 15px;
  font-weight: bold;
}
figure{
  margin: 20px;
  width: 90%;
}
.restaurants{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly
}
.restaurants a{
  width: 360px;
}
.Container h2{
  font-size:33px;
}
.entrées, .plats, .desserts{
  display: flex;
  margin-bottom: 30px;
}

.menusenchantee .entrées a{
  height: 130px;
}
.enchantee .entrées a{
  height: 140px;
}

.confirmation:hover {
  height: 100px;
}
.delice img, .palette img, .francaise img, .enchantee img{
  max-height: 400px;
}
.prix{
  right: 10px;
  padding-top: 35px;
}

.plat:hover .fa-check-circle {
  animation: rotation 1s;
}
.menusfrancaise a, .menusdelice a, .menusenchantee a, .menuspalette a{
  height: 70px;
  width: 33%;
}
}
@media screen and (min-width: 1000px) {
  .container h2{
    padding-left:100px;
  }
.formulaire{
    width: 25%;
    position: relative;
    top: -60px;
    left: 20px;
  }
.accueil img {
  width: 20%;
  }
.accueil{
  justify-content: flex-end;  
  }
img.fra{
  max-height: 600px;
  object-fit: contain;
}
.enchantee img.fra{
  max-height: 1000px;
}

.cartes{
  background-color: #F2F2F2;
}
.entrées, .desserts, .plats {
  flex-direction: column;
  width: 100%;
  margin-top:90px
}
.menusenchantee .entrées a{
  height: 100px;
}
.menusfrancaise, .menusdelice, .menusenchantee, .menuspalette{
  display: flex;
  align-items: first baseline;
  margin:0;
}
.menusfrancaise a, .menusdelice a, .menusenchantee a, .menuspalette a{
  
  margin-bottom: 20px;
  height: 70px;
  width: 100%;
}
.Container h4{
    position: relative;
    bottom: 80px;
    left: 40px;
}

.bouton .commander{
  top:10px;
  left:0;
}
.Container h2{
  padding-left: 50px;
}
}